.page-404 {
  p {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    padding-top: 300px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.808);
  }
  a {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: rgb(248, 102, 0);
  }
}
