.tracked-asteroids {
  position: sticky;
  top: 200px;
  padding: 20px;
  width: 160px;
  height: 160px;
  border-radius: 24px;
  background: rgb(35, 37, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
  }

  &__link {
    width: 116px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: rgb(248, 102, 0);
    color: #fff;
  }

  &__number {
    font-size: 25px;
    color: rgb(248, 102, 0);
  }
}

.tracked-asteroids--visible-none {
  justify-content: space-between;
}

@media (max-width: 950px) {
  .tracked-asteroids {
    padding: 15px;
    width: 140px;
    height: 140px;

    &__link {
      width: 100px;
      height: 36px;
    }
  }
}
@media (max-width: 570px) {
  .tracked-asteroids {
    z-index: 5000;
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    width: 100%;
    border-radius: 0;
    padding: 5px;
    height: 100px;
    &__number {
      font-size: 18px;
    }
    &__link {
      height: 30px;
    }
  }
}
